[Unit]
Description=Update Ubuntu System after User Login
After=graphical.target

[Service]
ExecStart=/home/%USER%/.local/bin/system_login_update
Type=oneshot
RemainAfterExit=true
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
